[submodule "modules/Pengaturan"]
	path = modules/Pengaturan
	url = https://github.com/cutisurattugas/ModulPengaturan.git
[submodule "Modules/SuratTugas"]
	path = Modules/SuratTugas
	url = https://github.com/cutisurattugas/ModulSuratTugas.git
[submodule "Modules/RekapKehadiran"]
	path = Modules/RekapKehadiran
	url = https://github.com/wxtcb/ModuleRekapKehadiran.git
[submodule "modules/Cuti"]
	path = modules/Cuti
	url = https://github.com/cutisurattugas/ModulCuti.git
[submodule "Modules/Setting"]
	path = Modules/Setting
	url = https://github.com/wxtcb/ModuleSetting.git
[submodule "Modules/ModulPenilaianSKP"]
	path = Modules/ModulPenilaianSKP
	url = https://github.com/widura26/ModulPenilaianSKP.git
